= simple_form_for treatment do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :cost
    = f.input :description
  .form-actions
    = f.button :submit, "Zapisz", class: "btn btn-success"
    = link_to "Anuluj", dictionaries_path(tab: 'treatments'), class: "btn btn-warning"
