.panel.panel-default
  .panel-heading Cennik zabiegów
  .panel-body
    = render 'search_form'
    - if @treatments.empty?
      .alert.alert-warning.table-warning Brak zabiegów.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th= sortable 'name', "Nazwa"
            %th= sortable 'cost', "Koszt"
            %th= sortable 'description', "Opis"
        %tbody
          - @treatments.each do |treatment|
            %tr
              %td= change_blank_to_dash(treatment.name)
              %td= change_blank_to_dash(number_to_currency(treatment.cost, separator: ',', unit: 'PLN', precision: 2))
              %td= change_blank_to_dash(treatment.description)

      .flickr_pagination
        = will_paginate @treatments
