= form_tag diseases_search_path, method: :get do
  .form-inline
    = text_field_tag :search, params[:search], placeholder: 'Wpisz nazwę choroby', class: 'form-control'
    = submit_tag "Szukaj", name: nil, class: 'btn btn-default'

    .pull-right
      = link_to 'Dodaj chorobę', new_disease_path, class: "btn btn-default"

- if diseases.empty?
  .alert.alert-warning.table-warning Brak rekordów.
- else
  %table.table.table-striped
    %thead
      %tr
        %th Nazwa
        %th
    %tbody
      - diseases.each do |disease|
        %tr
          %td= change_blank_to_dash(disease.name)
          %td
            .pull-right
              = link_to icon('edit'), edit_disease_path(disease), title: 'Edytuj', class: "btn btn-default"

  .flickr_pagination
    = will_paginate diseases, param_name: 'diseases_page'
