= form_tag species_search_path, method: 'get' do
  .form-inline
    = text_field_tag :search, params[:search], placeholder: 'Wpisz nazwę', class: 'form-control'
    = submit_tag "Szukaj", name: nil, class: 'btn btn-default'

    .pull-right
      = link_to 'Dodaj gatunek', new_species_path, class: "btn btn-primary"

- if species.empty?
  .alert.alert-warning.table-warning Brak rekordów.
- else
  %table.table.table-striped
    %thead
      %tr
        %th Nazwa
        %th
    %tbody
      - species.each do |s|
        %tr
          %td= s.name
          %td
            .pull-right
              = link_to 'Edytuj', edit_species_path(s), class: "btn btn-default"

.flickr_pagination
  = will_paginate species, param_name: 'species_page'

