= form_tag species_search_path, method: 'get' do
  = hidden_field_tag :direction, params[:direction]
  = hidden_field_tag :sort, params[:sort]
  = hidden_field_tag :tab, 'species'
  .form-inline
    = text_field_tag :search, params[:search], placeholder: 'Wpisz nazwę gatunku', class: 'form-control'
    = submit_tag "Szukaj", name: nil, class: 'btn btn-default'

    .pull-right
      = link_to 'Dodaj gatunek', new_species_path, class: "btn btn-default"

- if @species.empty?
  .alert.alert-warning.table-warning Brak rekordów.
- else
  %table.table.table-striped
    %thead
      %tr
        %th= sortable 'name', "Nazwa"
        %th= sortable 'status', "Status"
        %th
    %tbody
      - @species.each do |s|
        %tr
          %td= change_blank_to_dash(s.name)
          %td= change_blank_to_dash(s.status)
          %td
            .pull-right
              = link_to icon('edit'), edit_species_path(s), title: 'Edytuj', class: "btn btn-default"

  .flickr_pagination
    = will_paginate @species, param_name: 'species_page'

