= form_tag treatments_search_path, method: :get do
  .form-inline
    = text_field_tag :search, params[:search], placeholder: 'Wpisz nazwę zabiegu', class: 'form-control'
    = submit_tag "Szukaj", name: nil, class: 'btn btn-default'

    .pull-right
      = link_to 'Dodaj zabieg', new_treatment_path, class: "btn btn-default"

- if treatments.empty?
  .alert.alert-warning.table-warning Brak rekordów.
- else
  %table.table.table-striped
    %thead
      %tr
        %th Nazwa
        %th Koszt
        %th Status
        %th Opis
        %th
    %tbody
      - treatments.each do |treatment|
        %tr
          %td= change_blank_to_dash(treatment.name)
          %td= change_blank_to_dash(number_to_currency(treatment.cost, separator: ',', unit: 'PLN', precision: 2))
          %td= change_blank_to_dash(treatment.status)
          %td= change_blank_to_dash(treatment.description)
          %td
            .pull-right
              = link_to icon('edit'), edit_treatment_path(treatment), title: 'Edytuj', class: "btn btn-default"

  .flickr_pagination
    = will_paginate treatments, param_name: 'treatments_page'
