= form_tag treatments_search_path, method: :get do
  .form-inline
    = text_field_tag :search, params[:search], placeholder: 'Wpisz nazwę', class: 'form-control'
    = submit_tag "Szukaj", name: nil, class: 'btn btn-default'

    .pull-right
      = link_to 'Dodaj zabieg', new_treatment_path, class: "btn btn-primary"

- if treatments.empty?
  .alert.alert-warning.table-warning Brak rekordów.
- else
  %table.table.table-striped
    %thead
      %tr
        %th Nazwa
        %th Koszt
        %th Opis
        %th
    %tbody
      - treatments.each do |treatment|
        %tr
          %td= treatment.name
          %td= treatment.cost
          %td= treatment.description
          %td
            .pull-right
              = link_to 'Edytuj', edit_treatment_path(treatment), class: "btn btn-default"

.flickr_pagination
  = will_paginate treatments, param_name: 'treatments_page'
