= form_tag units_search_path, method: :get do
  .form-inline
    = text_field_tag :search, params[:search], placeholder: 'Wpisz nazwę jednostki', class: 'form-control'
    = submit_tag "Szukaj", name: nil, class: 'btn btn-default'

    .pull-right
      = link_to 'Dodaj jednostkę', new_unit_path, class: "btn btn-default"

- if units.empty?
  .alert.alert-warning.table-warning Brak rekordów.
- else
  %table.table.table-striped
    %thead
      %tr
        %th Nazwa
        %th
    %tbody
      - units.each do |unit|
        %tr
          %td= unit.name
          %td
            .pull-right
              = link_to 'Edytuj', edit_unit_path(unit), class: "btn btn-default"

.flickr_pagination
  = will_paginate units, param_name: 'units_page'
