= form_tag units_search_path, method: :get do
  = hidden_field_tag :direction, params[:direction]
  = hidden_field_tag :sort, params[:sort]
  = hidden_field_tag :tab, 'units'
  .form-inline
    = text_field_tag :search, params[:search], placeholder: 'Entrez le nom de unité', class: 'form-control'
    = submit_tag "Recherche", name: nil, class: 'btn btn-default'

    .pull-right
      = link_to 'Ajouter unité', new_unit_path, class: "btn btn-default"

- if @units.empty?
  .alert.alert-warning.table-warning Aucun enregistrement.
- else
  %table.table.table-striped
    %thead
      %tr
        %th= sortable 'name', "Nom"
        %th= sortable 'status', "Status"
        %th
    %tbody
      - @units.each do |unit|
        %tr
          %td= change_blank_to_dash(unit.name)
          %td= change_blank_to_dash(unit.status)
          %td
            .pull-right
              = link_to icon('edit'), edit_unit_path(unit), title: 'Modifier', class: "btn btn-default"

  .flickr_pagination
    = will_paginate @units, param_name: 'units_page'
