.panel.panel-default
  .panel-heading Vétérinaires
  .panel-body
    = render 'search_form'
    - if veterinarians.empty?
      .alert.alert-warning.table-warning Aucun vétérinaire.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Titre
            %th= sortable 'first_name', "Prénom"
            %th= sortable 'last_name', "Nom"
            %th= sortable 'phone_number', "Téléphone"
            %th Spécialité
            %th Jour d'admission
            %th Vacances les plus proches

        %tbody
          - veterinarians.each do |veterinarian|
            %tr
              %td= change_blank_to_dash(veterinarian.try(:veterinarian).try(:title))
              %td= change_blank_to_dash(veterinarian.first_name)
              %td= change_blank_to_dash(veterinarian.last_name)
              %td= change_blank_to_dash(veterinarian.phone_number)
              %td= change_blank_to_dash(veterinarian.try(:veterinarian).try(:specialization))
              %td= change_blank_to_dash(veterinarian.try(:veterinarian).try(:working_day).try(:decorate).try(:print_working_days))
              %td= change_blank_to_dash(veterinarian.try(:veterinarian).try(:next_vacation))
      .flickr_pagination
        = will_paginate veterinarians
