.panel.panel-default
  .panel-heading Weterynarze
  .panel-body
    = render 'search_veterinarians_form'
    - if veterinarians.empty?
      .alert.alert-warning.table-warning Brak weterynarzy.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th= sortable 'title', "Tytuł"
            %th= sortable 'first_name', "Imię"
            %th= sortable 'last_name', "Nazwisko"
            %th= sortable 'phone_number', "Numer telefonu"
            %th= sortable 'specialization', "Specjalizacja"
            %th= sortable 'working_day', "Dni przyjęć"
            %th= sortable 'next_vacation', "Najbliższy urlop"
            %th

        %tbody
          - veterinarians.each do |veterinarian|
            %tr
              %td= change_blank_to_dash(veterinarian.try(:veterinarian).try(:title))
              %td= change_blank_to_dash(veterinarian.first_name)
              %td= change_blank_to_dash(veterinarian.last_name)
              %td= change_blank_to_dash(veterinarian.phone_number)
              %td= change_blank_to_dash(veterinarian.try(:veterinarian).try(:specialization))
              %td= change_blank_to_dash(veterinarian.try(:veterinarian).try(:working_day).try(:decorate).try(:print_working_days))
              %td= change_blank_to_dash(veterinarian.try(:veterinarian).try(:next_vacation))
              %td
                .pull-right
                  = link_to icon('calendar'), user_veterinarian_calendar_path(params[:user_id], veterinarian.try(:veterinarian)), title: 'Pokaż terminarz', class: "btn btn-default"

      .flickr_pagination
        = will_paginate veterinarians
