%h2 Sign up
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    = f.input :first_name, required: true, autofocus: true
    = f.input :last_name, required: true
    = f.input :pesel, required: true
    = f.input :email, required: true
    = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
    = f.input :password_confirmation, required: true
    = f.input :phone_number
    = f.simple_fields_for :address do |a|
      = a.input :street
      = a.input :house_number
      = a.input :flat_number
      = a.input :zip_code
      = a.input :city
      = a.input :borough
      = a.input :district
      = a.input :province
      = a.input :country
  = recaptcha_tags
  .form-actions
    = f.button :submit, "Sign up"
= render "devise/shared/links"
