= simple_form_for [ proprio, hospit ] do |f|
  = f.error_notification
  .form-inputs
    .row
      .col-md-6
        = f.input :anamnesis, label: 'Cause hospitalisation', placeholder: 'Entrez anamnèse', autofocus: true
      .col-md-1
        = f.input :poids, label: 'Poids', placeholder: 'Entrez le poids'
      .col-md-5
        = f.input :animal_ids, label: 'Animaux', collection: @animals, input_html: { multiple: true }
    = f.hidden_field :veterinarian_id, value: current_user.try(:veterinarian).try(:id)
    = f.hidden_field :proprio_id, value: proprio.id
    .row
      .col-md-4
        = f.input :disease_id, label: 'Diagnostic ou suspicion', collection: @diseases
    .panel.panel-info
      .panel-heading Soins journaliers
      .panel-body
        #hospitactes
          = f.simple_fields_for :hospitactes do |hospitacte|
            = render 'hospitacte_fields', f: hospitacte
          .links.centered
            = link_to_add_association 'Ajouter soin', f, :hospitactes, class: 'btn btn-default'
    .row
      .col-md-6
        = f.input :description, label: 'Observations', placeholder: 'Entrez description'

  .form-actions
    = link_to 'Annuler', proprio_hospits_path, class: 'btn btn-default'
    .pull-right
      = f.button :submit, "Sauvegarder"
