= simple_form_for [ proprio, medical_record ] do |f|
  = f.error_notification
  .form-inputs
    .row
      .col-md-5
        = f.input :animal_ids, label: 'Animaux', collection: @animals, input_html: { multiple: true }, required: true, autofocus: true
      .col-md-4
        = f.input :poids, label: 'Poids', placeholder: 'Entrez le poids'
    = f.hidden_field :veterinarian_id, value: current_user.try(:veterinarian).try(:id)
    = f.hidden_field :proprio_id, value: proprio.id
    .panel.panel-info
      .panel-heading Description de la consultation
      .panel-body
      = f.input :description, label: false, placeholder: 'Observations, actes, injections, etc...'
    .panel.panel-info
      .panel-heading Remarques en haut de l'ordonnance
      .panel-body
        #comments
          = f.simple_fields_for :comments do |comment|
            = render 'comment_fields', f: comment
          .links.centered
            = link_to_add_association 'Ajouter une remarque', f, :comments, class: 'btn btn-default'
    .row
    .panel.panel-info
      .panel-heading Médicaments
      .panel-body
        #medicines
          = f.simple_fields_for :medicines do |medicine|
            = render 'medicine_fields', f: medicine
          .links.centered
            = link_to_add_association 'Ajouter un médicament', f, :medicines, class: 'btn btn-default'

  .form-inputs
    .row
      .col-md-4
        = f.input :picture_ids, label: 'Images', collection: @pictures, input_html: { multiple: true }
  .form-actions
    = link_to 'Annuler', proprio_medical_records_path, class: 'btn btn-default'
    .pull-right
      = f.button :submit, "Sauvegarder"
