= simple_form_for [ user, medical_record ] do |f|
  = f.error_notification
  .form-inputs
    = f.input :anamnesis, autofocus: true
    = f.input :description
    = f.input :comment
    = f.hidden_field :user_id, value: user.id
    = f.hidden_field :veterinarian_id, value: current_user
    = f.input :additional_cost
    = f.input :total_cost
    = f.input :animal_ids, collection: Animal.where(user_id: user.id), input_html: { multiple: true }
    = f.input :treatment_ids, collection: Treatment.all, input_html: { multiple: true }
    = f.input :image_ids, collection: Image.all, input_html: { multiple: true }
    = f.input :disease_ids, collection: Disease.all, input_html: { multiple: true }
    = f.input :medicine_ids, collection: Medicine.all, input_html: { multiple: true }
  .form-actions
    = f.button :submit, "Zapisz"
