.nested-fields
  .row
    .col-md-1
    .col-md-10
      .jumbotron
        .row
          .col-md-6
            = f.input :serial_number, label: 'Numer serii', placeholder: 'Wpisz numer serii'
          .col-md-6
            = f.input :name, label: 'Nazwa', placeholder: 'Wpisz nazwę'
        .row
          .col-md-3
            = f.input :amount, label: 'Ilość', placeholder: 'Wpisz ilość', as: :string, input_html: { value: change_period_to_comma(f.object.amount) }
          .col-md-3
            = f.input :unit_id, label: 'Jednostka', collection: Unit.order(:name).where(status: "odblokowany")
          .col-md-4
            = f.input :grace_period, label: 'Okres karencji (dni)', placeholder: 'Wpisz okres karencji', as: :string
          .col-md-2
            = f.input :price, label: 'Cena', as: :string, input_html: { value: change_period_to_comma(f.object.price) }
        .row
          .col-md-6
            = f.input :dosage, label: 'Dawkowanie', placeholder: 'Wpisz sposób dawkowania'
          .col-md-6
            = f.input :description, label: 'Dodatkowe informacje', placeholder: 'Wpisz dodatkowe informacje'
    .col-md-1
      .pull-right
        = link_to_remove_association icon('trash-o'), f, class: 'btn btn-default'
