.panel.panel-default
  .panel-heading= "Karta nr #{medical_record.id}/#{medical_record.created_at.to_date}"
  .panel-body
    .panel.panel-info
      .panel-heading Dane właściciela
      .panel-body
        .row
          .col-md-3
            = image_tag user.gravatar_url(size: 200)
          .col-md-4
            %table.table
              %thead
                %tr
                  %td
              %tbody
                %tr
                  %td= "Imię: #{change_blank_to_dash(medical_record.try(:user).try(:first_name))}"
                %tr
                  %td= "Nazwisko: #{change_blank_to_dash(medical_record.try(:user).try(:last_name))}"
                %tr
                  %td= "Pesel: #{change_blank_to_dash(medical_record.try(:user).try(:pesel))}"
                %tr
                  %td= "Numer telefonu: #{change_blank_to_dash(medical_record.try(:user).try(:phone_number))}"
                %tr
                  %td= "Email: #{change_blank_to_dash(medical_record.try(:user).try(:email))}"
                %tr
                  %td= "Państwo: #{change_blank_to_dash(medical_record.try(:user).try(:address).try(:country_name))}"
          .col-md-4
            %table.table
              %thead
                %tr
                  %td
              %tbody
                %tr
                  %td= "Ulica: #{change_blank_to_dash(medical_record.try(:user).try(:address).try(:street))} #{medical_record.try(:user).try(:address).try(:house_number)}#{' / ' unless medical_record.try(:user).try(:address).try(:flat_number).blank?}#{medical_record.try(:user).try(:address).try(:flat_number)}"
                %tr
                  %td= "Kod pocztowy: #{change_blank_to_dash(medical_record.try(:user).try(:address).try(:zip_code))}"
                %tr
                  %td= "Miasto: #{change_blank_to_dash(medical_record.try(:user).try(:address).try(:city))}"
                %tr
                  %td= "Gmina: #{change_blank_to_dash(medical_record.try(:user).try(:address).try(:borough))}"
                %tr
                  %td= "Powiat: #{change_blank_to_dash(medical_record.try(:user).try(:address).try(:district))}"
                %tr
                  %td= "Województwo: #{change_blank_to_dash(medical_record.try(:user).try(:address).try(:province))}"
          .col-md-1

    .panel.panel-info
      .panel-heading Dane weterynarza
      .panel-body
        - if medical_record.try(:veterinarian).try(:user).nil?
          Brak danych.
        - else
          .row
            .col-md-3
              = image_tag medical_record.veterinarian.user.gravatar_url(size: 200)
            .col-md-4
              %table.table
                %thead
                  %tr
                    %td
                %tbody
                  %tr
                    %td= "Imię: #{change_blank_to_dash(medical_record.veterinarian.user.first_name)}"
                  %tr
                    %td= "Tytuł: #{change_blank_to_dash(medical_record.veterinarian.title)}"
                  %tr
                    %td= "Prawo wykonywania zawodu (pwz): #{change_blank_to_dash(medical_record.veterinarian.pwz)}"
            .col-md-4
              %table.table
                %thead
                  %tr
                    %td
                %tbody
                  %tr
                    %td= "Nazwisko: #{change_blank_to_dash(medical_record.veterinarian.user.last_name)}"
                  %tr
                    %td= "Specjalizacja: #{change_blank_to_dash(medical_record.veterinarian.specialization)}"
                  %tr
                    %td= "Numer telefonu: #{change_blank_to_dash(medical_record.veterinarian.user.phone_number)}"
            .col-md-1

    .panel.panel-info
      .panel-heading Zwierzęta
      .panel-body
        - if medical_record.animals.empty?
          Brak zwierząt.
        - else
          - medical_record.animals.each do |animal|
            %table.table.table-bordered
              %tbody
                %tr
                  %th.col-md-2 Numer id:
                  %td= change_blank_to_dash(animal.id_number)
                %tr
                  %th.col-md-2 Nazwa:
                  %td= change_blank_to_dash(animal.name)
                %tr
                  %th.col-md-2 Ilość:
                  %td= change_blank_to_dash(animal.amount)
                %tr
                  %th.col-md-2 Płeć:
                  %td= change_blank_to_dash(animal.gender)
                %tr
                  %th.col-md-2 Waga (kg):
                  %td= change_blank_to_dash(number_with_delimiter(trim_float(animal.weight), delimiter: " ", separator: ","))
                %tr
                  %th.col-md-2 Data urodzenia:
                  %td= change_blank_to_dash(animal.birth_date)
                %tr
                  %th.col-md-2 Wiek (lata):
                  %td= change_blank_to_dash(number_with_delimiter(trim_float(animal.age), delimiter: " ", separator: ","))
                %tr
                  %th.col-md-2 Gatunek:
                  %td= change_blank_to_dash(animal.try(:species).try(:name))
                %tr
                  %th.col-md-2 Dodatkowe informacje:
                  %td= change_blank_to_dash(animal.description)

    .panel.panel-info
      .panel-heading Choroby
      .panel-body
        - if medical_record.diseases.empty?
          Brak chorób.
        - else
          %table.table
            %thead
              %tr
                %th Nazwa
            %tbody
              - medical_record.diseases.each do |disease|
                %tr
                  %td= change_blank_to_dash(disease.name)

    .panel.panel-info
      .panel-heading Zabiegi
      .panel-body
        - if medical_record.treatments.empty?
          Brak zabiegów.
        - else
          %table.table
            %thead
              %tr
                %th Nazwa
                %th koszt
                %th Opis


            %tbody
              - medical_record.treatments.each do |treatment|
                %tr
                  %td= change_blank_to_dash(treatment.name)
                  %td= change_blank_to_dash(number_to_currency(treatment.cost, separator: ',', unit: 'PLN', precision: 2))
                  %td= change_blank_to_dash(treatment.description)

    .panel.panel-info
      .panel-heading Lekarstwa
      .panel-body
        - if medical_record.medicines.empty?
          Brak lekarstw.
        - else
          - medical_record.medicines.each do |medicine|
            %table.table.table-bordered
              %tbody
                %tr
                  %th.col-md-2 Numer serii:
                  %td= change_blank_to_dash(medicine.serial_number)
                %tr
                  %th.col-md-2 Nazwa:
                  %td= change_blank_to_dash(medicine.name)
                %tr
                  %th.col-md-2 Ilość:
                  %td= "#{change_blank_to_dash(number_with_delimiter(trim_float(medicine.amount), delimiter: " ", separator: ","))} #{medicine.try(:unit).try(:name)}"
                %tr
                  %th.col-md-2 Dawkowanie:
                  %td= change_blank_to_dash(medicine.dosage)
                %tr
                  %th.col-md-2 Okres karencji (dni):
                  %td= change_blank_to_dash(medicine.grace_period)
                %tr
                  %th.col-md-2 Dodatkowe informacje:
                  %td= change_blank_to_dash(medicine.description)
                %tr
                  %th.col-md-2 Cena:
                  %td= change_blank_to_dash(number_to_currency(medicine.price, separator: ',', unit: 'PLN', precision: 2))

    .panel.panel-info
      .panel-heading Zdjęcia
      .panel-body
        - if medical_record.pictures.empty?
          Brak zdjęć.
        - else
          %table.table
            %thead
              %tr
                %th Nazwa
                %th Zwierzę
                %th Zdjęcie
                %th Opis

            %tbody
              - medical_record.pictures.each do |picture|
                %tr
                  %td= change_blank_to_dash(picture.name)
                  %td= picture.animal_id.nil? ? '-' : (picture.try(:animal).try(:id_number).blank? ? 'Brak numeru id zwierzęcia': picture.try(:animal).try(:id_number))
                  %td= link_to image_tag(picture.image, width: 100), picture.image.url
                  %td= change_blank_to_dash(picture.description)

    .panel.panel-info
      .panel-heading Dodatkowe informacje
      .panel-body
        %table.table
          %tbody
            %tr
              %th.col-md-2 Wywiad:
              %td= change_blank_to_dash(medical_record.anamnesis)
            %tr
              %th.col-md-2 Opis:
              %td= change_blank_to_dash(medical_record.description)
            %tr
              %th.col-md-2 Komentarz:
              %td= change_blank_to_dash(medical_record.comment)
            %tr
              %th.col-md-2 Koszt dodatkowy:
              %td= change_blank_to_dash(number_to_currency(medical_record.additional_cost, separator: ',', unit: 'PLN', precision: 2))
            %tr
              %th.col-md-2 Koszt całkowity:
              %td= change_blank_to_dash(number_to_currency(medical_record.total_cost, separator: ',', unit: 'PLN', precision: 2))

    .pull-right
      = link_to "Powrót", user_medical_records_path(user), class: "btn btn-default"
