= simple_form_for @species do |f|
  = f.error_notification
  .form-inputs
    = f.input :name, label: 'Nazwa', placeholder: 'Wpisz nazwę gatunku', required: true
  .form-actions
    = link_to "Anuluj", dictionaries_path(tab: 'species'), class: "btn btn-default"
    .pull-right
      = f.button :submit, "Zapisz", class: "btn btn-default"

