= simple_form_for user do |f|
  = f.error_notification
  .form-inputs
    = f.input :first_name, required: true, autofocus: true
    = f.input :last_name, required: true
    = f.input :pesel, required: true
    = f.input :email, required: true
    = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
    = f.input :password_confirmation, required: true
    = f.input :phone_number
    = f.simple_fields_for :address do |ff|
      = ff.input :street
      = ff.input :house_number
      = ff.input :flat_number
      = ff.input :zip_code
      = ff.input :city
      = ff.input :borough
      = ff.input :district
      = ff.input :province
      = ff.input :country
  .form-actions
    = f.button :submit, "Zapisz"
