.panel.panel-default
  .panel-heading Dane profilowe
  .panel-body
    .row
      .col-md-2
        = image_tag current_user.gravatar_url(size: 150)
      .col-md-5
        %table.table
          %thead
            %tr
              %td
          %tbody
            %tr
              %td= "Imię: #{change_blank_to_dash(current_user.first_name)}"
            %tr
              %td= "Nazwisko: #{change_blank_to_dash(current_user.last_name)}"
            %tr
              %td= "Pesel: #{change_blank_to_dash(current_user.pesel)}"
            %tr
              %td= "Numer telefonu: #{change_blank_to_dash(current_user.phone_number)}"
            %tr
              %td= "Email: #{change_blank_to_dash(current_user.email)}"
            %tr
              %td= "Państwo: #{change_blank_to_dash(current_user.try(:address).try(:country))}"
      .col-md-5
        %table.table
          %thead
            %tr
              %td
          %tbody
            %tr
              %td= "Ulica: #{change_blank_to_dash(current_user.try(:address).try(:street))} #{current_user.try(:address).try(:house_number)}#{' / ' unless current_user.try(:address).try(:flat_number).blank?}#{current_user.try(:address).try(:flat_number)}"
            %tr
              %td= "Kod pocztowy: #{change_blank_to_dash(current_user.try(:address).try(:zip_code))}"
            %tr
              %td= "Miasto: #{change_blank_to_dash(current_user.try(:address).try(:city))}"
            %tr
              %td= "Gmina: #{change_blank_to_dash(current_user.try(:address).try(:borough))}"
            %tr
              %td= "Powiat: #{change_blank_to_dash(current_user.try(:address).try(:district))}"
            %tr
              %td= "Województwo: #{change_blank_to_dash(current_user.try(:address).try(:province))}"
    .pull-right
      = link_to "Edytuj", edit_registration_path(current_user), class: "btn btn-default"

.panel.panel-default
  .panel-heading Najbliższe wizyty
  .panel-body
    - if @appointments.empty?
      .alert.alert-warning.table-warning Brak wizyt.
      .pull-right
        = link_to "Dodaj", new_user_appointment_path(current_user), class: "btn btn-default"
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Data
            %th Pora dnia
            %th Rodzaj
            %th Status
            %th Weterynarz
            %th

        %tbody
          - @appointments.each do |appointment|
            %tr
              %td= change_blank_to_dash(appointment.day)
              %td= change_blank_to_dash(appointment.time)
              %td= change_blank_to_dash(appointment.kind)
              %td= change_blank_to_dash(appointment.status)
              %td= change_blank_to_dash(appointment.try(:veterinarian).try(:user).try(:full_name))
              %td
                .pull-right
                  = link_to 'Szczegóły', user_appointment_path(current_user, appointment), class: "btn btn-default"
      .pull-right
        = link_to "Dodaj", new_user_appointment_path(current_user), class: "btn btn-default"
        = link_to "Więcej", user_appointments_path(current_user), class: "btn btn-default"

.panel.panel-default
  .panel-heading Zwierzęta
  .panel-body
    - if @animals.empty?
      .alert.alert-warning.table-warning Brak zwierząt.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Numer identyfikacyjny
            %th Nazwa
            %th Ilość
            %th Wiek (lata)
            %th Płeć
            %th Gatunek
            %th

        %tbody
          - @animals.each do |animal|
            %tr
              %td= change_blank_to_dash(animal.id_number)
              %td= change_blank_to_dash(animal.name)
              %td= change_blank_to_dash(animal.amount)
              %td= change_blank_to_dash(number_with_delimiter(trim_float(animal.age), delimiter: " ", separator: ","))
              %td= change_blank_to_dash(animal.gender)
              %td= change_blank_to_dash(animal.try(:species).try(:name))
              %td
                .pull-right
                  = link_to 'Szczegóły', user_animal_path(current_user, animal), class: "btn btn-default"

      .pull-right
        = link_to "Więcej", user_animals_path(current_user), class: "btn btn-default"

.panel.panel-default
  .panel-heading Kartoteka
  .panel-body
    - if @medical_records.empty?
      .alert.alert-warning.table-warning Brak kart.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Numer karty
            %th Wywiad
            %th Weterynarz
            %th Opis
            %th Komentarz
            %th

        %tbody
          - @medical_records.each do |medical_record|
            %tr
              %td= change_blank_to_dash(medical_record.id)
              %td= change_blank_to_dash(medical_record.anamnesis)
              %td= change_blank_to_dash(medical_record.try(:veterinarian).try(:user).try(:full_name))
              %td= change_blank_to_dash(medical_record.description)
              %td= change_blank_to_dash(medical_record.comment)
              %td
                .pull-right
                  = link_to 'Szczegóły', user_medical_record_path(current_user, medical_record), class: "btn btn-default"

      .pull-right
        = link_to "Więcej", user_medical_records_path(current_user), class: "btn btn-default"

.panel.panel-default
  .panel-heading Zdjęcia
  .panel-body
    - if @pictures.empty?
      .alert.alert-warning.table-warning Brak zdjęć.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Nazwa
            %th Zdjęcie
            %th Opis
            %th

        %tbody
          - @pictures.each do |picture|
            %tr
              %td= change_blank_to_dash(picture.name)
              %td= change_blank_to_dash(image_tag(picture.image.thumb))
              %td= change_blank_to_dash(picture.description)
              %td
                .pull-right
                  = link_to 'Szczegóły', user_picture_path(current_user, picture), class: "btn btn-default"

      .pull-right
        = link_to "Więcej", user_pictures_path(current_user), class: "btn btn-default"
