.panel.panel-default
  .panel-heading Dane profilowe
  .panel-body
    .row
      .col-md-3
        = image_tag current_user.gravatar_url(size: 200)
      .col-md-4
        %table.table
          %thead
            %tr
              %td
          %tbody
            %tr
              %th Imię:
              %td= change_blank_to_dash(current_user.first_name)
            %tr
              %th Nazwisko:
              %td= change_blank_to_dash(current_user.last_name)
            %tr
              %th Pesel:
              %td= change_blank_to_dash(current_user.pesel)
            %tr
              %th Numer telefonu:
              %td= change_blank_to_dash(current_user.phone_number)
            %tr
              %th Email:
              %td= change_blank_to_dash(current_user.email)
            %tr
              %th Państwo:
              %td= change_blank_to_dash(current_user.try(:address).try(:country_name))
      .col-md-4
        %table.table
          %thead
            %tr
              %td
          %tbody
            %tr
              %th Ulica:
              %td= "#{change_blank_to_dash(current_user.try(:address).try(:street))} #{current_user.try(:address).try(:house_number)}#{' / ' unless current_user.try(:address).try(:flat_number).blank?}#{current_user.try(:address).try(:flat_number)}"
            %tr
              %th Kod pocztowy:
              %td= change_blank_to_dash(current_user.try(:address).try(:zip_code))
            %tr
              %th Miasto:
              %td= change_blank_to_dash(current_user.try(:address).try(:city))
            %tr
              %th Gmina:
              %td= change_blank_to_dash(current_user.try(:address).try(:borough))
            %tr
              %th Powiat:
              %td= change_blank_to_dash(current_user.try(:address).try(:district))
            %tr
              %th Województwo:
              %td= change_blank_to_dash(current_user.try(:address).try(:province))
      .col-md-4
    .pull-right
      = link_to "Edytuj", edit_registration_path(current_user), class: "btn btn-default"

.panel.panel-default
  .panel-heading Najbliższe wizyty
  .panel-body
    - if @appointments.empty?
      .alert.alert-warning.table-warning Brak wizyt.
      .pull-right
        = link_to "Dodaj", user_veterinarians_path(current_user), class: "btn btn-default"
    - else
      %table.table.table-striped
        %thead
          %tr
            %th.date-row Data
            %th Pora dnia
            %th Rodzaj
            %th Status
            %th Weterynarz
            %th.btn-row-2

        %tbody
          - @appointments.each do |appointment|
            %tr
              %td= change_blank_to_dash(appointment.day)
              %td= change_blank_to_dash(appointment.time)
              %td= change_blank_to_dash(appointment.kind)
              %td= change_blank_to_dash(appointment.status)
              %td= change_blank_to_dash(appointment.try(:veterinarian).try(:user).try(:full_name))
              %td
                .pull-right
                  = link_to icon('list-alt'), user_appointment_path(current_user, appointment), title: 'Szczegóły', class: "btn btn-default"
                  = link_to icon('trash-o'), user_appointment_cancel_path(current_user, appointment), title: 'Anuluj', method: :patch, class: "btn btn-default"
      .pull-right
        = link_to "Dodaj", user_veterinarians_path(current_user), class: "btn btn-default"
        = link_to "Więcej", user_appointments_path(current_user), class: "btn btn-default"

.panel.panel-default
  .panel-heading Zwierzęta
  .panel-body
    - if @animals.empty?
      .alert.alert-warning.table-warning Brak zwierząt.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Numer identyfikacyjny
            %th Nazwa
            %th Ilość
            %th Wiek (lata)
            %th Płeć
            %th Gatunek
            %th

        %tbody
          - @animals.each do |animal|
            %tr
              %td= change_blank_to_dash(animal.id_number)
              %td= change_blank_to_dash(animal.name)
              %td= change_blank_to_dash(animal.amount)
              %td= change_blank_to_dash(number_with_delimiter(trim_float(animal.age), delimiter: " ", separator: ","))
              %td= change_blank_to_dash(animal.gender)
              %td= change_blank_to_dash(animal.try(:species).try(:name))
              %td
                .pull-right
                  = link_to icon('list-alt'), user_animal_path(current_user, animal), title: 'Szczegóły', class: "btn btn-default"

      .pull-right
        = link_to "Więcej", user_animals_path(current_user), class: "btn btn-default"

.panel.panel-default
  .panel-heading Kartoteka
  .panel-body
    - if @medical_records.empty?
      .alert.alert-warning.table-warning Brak kart.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Numer karty
            %th Wywiad
            %th Weterynarz
            %th Opis
            %th Komentarz
            %th

        %tbody
          - @medical_records.each do |medical_record|
            %tr
              %td= change_blank_to_dash(medical_record.id)
              %td= change_blank_to_dash(medical_record.anamnesis)
              %td= change_blank_to_dash(medical_record.try(:veterinarian).try(:user).try(:full_name))
              %td= change_blank_to_dash(medical_record.description)
              %td= change_blank_to_dash(medical_record.comment)
              %td
                .pull-right
                  = link_to icon('list-alt'), user_medical_record_path(current_user, medical_record), title: 'Szczegóły', class: "btn btn-default"

      .pull-right
        = link_to "Więcej", user_medical_records_path(current_user), class: "btn btn-default"

.panel.panel-default
  .panel-heading Zdjęcia
  .panel-body
    - if @pictures.empty?
      .alert.alert-warning.table-warning Brak zdjęć.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Nazwa
            %th Zwierzę
            %th Zdjęcie
            %th Opis
            %th

        %tbody
          - @pictures.each do |picture|
            %tr
              %td= change_blank_to_dash(picture.name)
              %td= picture.animal_id.nil? ? '-' : (link_to (picture.try(:animal).try(:id_number).blank? ? 'Brak numeru id zwierzęcia': picture.try(:animal).try(:id_number)), user_animal_path(current_user, picture.try(:animal).try(:id)))
              %td= link_to image_tag(picture.image, width: 100), picture.image.url
              %td= change_blank_to_dash(picture.description)
              %td
                .pull-right
                  = link_to icon('list-alt'), user_picture_path(current_user, picture), title: 'Szczegóły', class: "btn btn-default"

      .pull-right
        = link_to "Więcej", user_pictures_path(current_user), class: "btn btn-default"
