.panel.panel-default
  .panel-heading Dane profilowe
  .panel-body
    .row
      .col-md-3
        = image_tag current_user.gravatar_url(size: 200)
      .col-md-4
        %table.table
          %thead
            %tr
              %td
          %tbody
            %tr
              %th Imię:
              %td= change_blank_to_dash(current_user.first_name)
            %tr
              %th Nazwisko:
              %td= change_blank_to_dash(current_user.last_name)
            %tr
              %th Pesel:
              %td= change_blank_to_dash(current_user.pesel)
            %tr
              %th Numer telefonu:
              %td= change_blank_to_dash(current_user.phone_number)
            %tr
              %th Email:
              %td= change_blank_to_dash(current_user.email)
            %tr
              %th Państwo:
              %td= change_blank_to_dash(current_user.try(:address).try(:country_name))
      .col-md-4
        %table.table
          %thead
            %tr
              %td
          %tbody
            %tr
              %th Ulica:
              %td= "#{change_blank_to_dash(current_user.try(:address).try(:street))} #{current_user.try(:address).try(:house_number)}#{' / ' unless current_user.try(:address).try(:flat_number).blank?}#{current_user.try(:address).try(:flat_number)}"
            %tr
              %th Kod pocztowy:
              %td= change_blank_to_dash(current_user.try(:address).try(:zip_code))
            %tr
              %th Miasto:
              %td= change_blank_to_dash(current_user.try(:address).try(:city))
            %tr
              %th Gmina:
              %td= change_blank_to_dash(current_user.try(:address).try(:borough))
            %tr
              %th Powiat:
              %td= change_blank_to_dash(current_user.try(:address).try(:district))
            %tr
              %th Województwo:
              %td= change_blank_to_dash(current_user.try(:address).try(:province))
      .col-md-1
    .row
      .col-md-3
      .col-md-8
        %br
        %table.table
          %thead
            %tr
              %th.col-md-3 Dodatkowe informacje
        %table.table
          %tbody
            %tr
              %th.col-md-1 Tytuł:
              %td= change_blank_to_dash(current_user.try(:veterinarian).try(:title))
            %tr
              %th.col-md-1 Specjalizacja:
              %td= change_blank_to_dash(current_user.try(:veterinarian).try(:specialization))
            %tr
              %th.col-md-1 Pwz:
              %td= change_blank_to_dash(current_user.try(:veterinarian).try(:pwz))
      .col-md-4
    .pull-right
      = link_to "Edytuj", edit_registration_path(current_user), class: "btn btn-default"
