.panel.panel-default
  .panel-heading Dane profilowe
  .panel-body
    .row
      .col-md-2
        = image_tag current_user.gravatar_url(size: 150)
      .col-md-5
        %table.table
          %thead
            %tr
              %td
          %tbody
            %tr
              %td= "Imię: #{change_blank_to_dash(current_user.first_name)}"
            %tr
              %td= "Nazwisko: #{change_blank_to_dash(current_user.last_name)}"
            %tr
              %td= "Pesel: #{change_blank_to_dash(current_user.pesel)}"
            %tr
              %td= "Numer telefonu: #{change_blank_to_dash(current_user.phone_number)}"
            %tr
              %td= "Email: #{change_blank_to_dash(current_user.email)}"
            %tr
              %td= "Państwo: #{change_blank_to_dash(current_user.try(:address).try(:country_name))}"
      .col-md-5
        %table.table
          %thead
            %tr
              %td
          %tbody
            %tr
              %td= "Ulica: #{change_blank_to_dash(current_user.try(:address).try(:street))} #{current_user.try(:address).try(:house_number)}#{' / ' unless current_user.try(:address).try(:flat_number).blank?}#{current_user.try(:address).try(:flat_number)}"
            %tr
              %td= "Kod pocztowy: #{change_blank_to_dash(current_user.try(:address).try(:zip_code))}"
            %tr
              %td= "Miasto: #{change_blank_to_dash(current_user.try(:address).try(:city))}"
            %tr
              %td= "Gmina: #{change_blank_to_dash(current_user.try(:address).try(:borough))}"
            %tr
              %td= "Powiat: #{change_blank_to_dash(current_user.try(:address).try(:district))}"
            %tr
              %td= "Województwo: #{change_blank_to_dash(current_user.try(:address).try(:province))}"
    .row
      .col-md-2
      .col-md-10
        %br
        %table.table
          %tbody
            %tr
              %td= "Tytuł: #{change_blank_to_dash(current_user.try(:veterinarian).try(:title))}"
            %tr
              %td= "Specjalizacja: #{change_blank_to_dash(current_user.try(:veterinarian).try(:specialization))}"
            %tr
              %td= "Prawo wykonywania zawodu (pwz): #{change_blank_to_dash(current_user.try(:veterinarian).try(:pwz))}"
    .pull-right
      = link_to "Edytuj", edit_registration_path(current_user), class: "btn btn-default"

.panel.panel-default
  .panel-heading Najbliższe wizyty
  .panel-body
    - if @appointments.empty?
      .alert.alert-warning.table-warning Brak wizyt.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Data
            %th Pora dnia
            %th Rodzaj
            %th Status
            %th Właściciel
            %th

        %tbody
          - @appointments.each do |appointment|
            %tr
              %td= change_blank_to_dash(appointment.day)
              %td= change_blank_to_dash(appointment.time)
              %td= change_blank_to_dash(appointment.kind)
              %td= change_blank_to_dash(appointment.status)
              %td= change_blank_to_dash(appointment.try(:user).try(:full_name))
              %td
                .pull-right
                  = link_to 'Szczegóły', user_appointment_path(appointment.user_id, appointment), class: "btn btn-default"
                  = link_to 'Edytuj', edit_user_appointment_path(appointment.user_id, appointment), class: "btn btn-default"
      .pull-right
        = link_to "Więcej", veterinarians_appointments_path, class: "btn btn-default"
