.panel.panel-default
  .panel-heading Właściciele
  .panel-body
    = render 'search_form'
    - if patients.empty?
      .alert.alert-warning.table-warning Brak rekordów.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Imię
            %th Nazwisko
            %th Pesel
            %th Email
            %th Numer telefonu
            %th

        %tbody
          - patients.each do |patient|
            %tr
              %td= patient.first_name
              %td= patient.last_name
              %td= patient.pesel
              %td= patient.email
              %td= patient.phone_number
              %td
                .pull-right
                  = link_to 'Szczegóły', user_path(patient), class: "btn btn-default"


.flickr_pagination
  = will_paginate patients
