.panel.panel-default
  .panel-heading Données utilisateur
  .panel-body
    .row
      .col-md-3
        = image_tag user.gravatar_url(size: 200)
      .col-md-4
        %table.table
          %thead
            %tr
              %td
          %tbody
            %tr
              %th Prénom:
              %td= change_blank_to_dash(user.first_name)
            %tr
              %th Nom:
              %td= change_blank_to_dash(user.last_name)
            %tr
              %th Téléphone:
              %td= change_blank_to_dash(user.phone_number)
            %tr
              %th Nationalité:
              %td= change_blank_to_dash(user.try(:address).try(:decorate).try(:full_country_name))
      .col-md-4
        %table.table
          %thead
            %tr
              %td
          %tbody
            %tr
              %th Rue:
              %td= change_blank_to_dash(user.try(:address).try(:decorate).try(:full_street))
            %tr
              %th Code postal:
              %td= change_blank_to_dash(user.try(:address).try(:zip_code))
            %tr
              %th Ville:
              %td= change_blank_to_dash(user.try(:address).try(:city))
      .col-md-1
    .pull-right
      = link_to "Modifier", edit_user_path(user), class: "btn btn-default"
