%h2 User profile

%table
  %tbody
    %tr
      %td= image_tag user.gravatar_url(size: 100)
      %td= "Email: #{user.email}"

= link_to "Edytuj profil", edit_user_path(user), class: "btn btn-success"
= link_to "Zwierzęta", user_animals_path(user), class: "btn btn-success"
= link_to "Kartoteka", user_medical_records_path(user), class: "btn btn-success"
= link_to "Nowa wizyta", new_user_medical_record_path(user), class: "btn btn-success"
