.row
  .col-md-4
  .col-md-4
    .panel.panel-default
      .panel-heading Zmiana hasła
      .panel-body
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
          = f.error_notification
          = f.input :reset_password_token, as: :hidden
          = f.full_error :reset_password_token
          .form-inputs
            = f.input :password, label: "Nowe hasło", placeholder: 'Wpisz nowe hasło', required: true, autofocus: true, hint: ("minimum #{@minimum_password_length} znaków" if @minimum_password_length)
            = f.input :password_confirmation, label: "Potwierdź nowe hasło", placeholder: 'Wpisz ponownie nowe hasło', required: true
          .form-actions.pull-right
            = f.button :submit, "Zmień hasło"
  .col-md-4
