= simple_form_for disease do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
  .form-actions
    = f.button :submit, "Zapisz", class: "btn btn-success"
    = link_to "Anuluj", dictionaries_path(tab: 'diseases'), class: "btn btn-warning"
