= simple_form_for disease do |f|
  = f.error_notification
  .row
    .col-md-1
    .col-md-10
      .form-inputs
        = f.input :name, label: 'Nazwa', placeholder: 'Wpisz nazwę choroby', required: true, autofocus: true
      .form-actions
        = link_to "Anuluj", dictionaries_path(tab: 'diseases'), class: "btn btn-default"
        .pull-right
          = f.button :submit, "Zapisz", class: "btn btn-default"
    .col-md-1
