= simple_form_for [ user, animal ] do |f|
  = f.error_notification
  .form-inputs
    .row
      .col-md-2
      .col-md-2
        = f.input :id_number, label: 'Numer identyfikacyjny', placeholder: 'Wpisz nr id', autofocus: true
        = f.input :birth_date, label: 'Data urodzenia', placeholder: 'dd/mm/rr', as: :date_picker
      .col-md-2
        = f.input :name, label: 'Nazwa', placeholder: 'Wpisz nazwę'
        = f.input :age, label: 'Wiek', placeholder: 'Wpisz wiek w latach', as: :string
      .col-md-2
        = f.input :gender, label: 'Płeć', placeholder: 'Wpisz płeć'
        = f.input :weight, label: 'Waga', placeholder: 'Wpisz wagę w kg', as: :string
      .col-md-2
        = f.input :species_id, label: 'Gatunek', collection: species
        = f.input :amount, label: 'Ilość', placeholder: 'Wpisz ilość', as: :string
      .col-md-2
    .row
      .col-md-2
      .col-md-8
        = f.input :description, label: 'Opis', placeholder: 'Wpisz opis (kolor, znaki szczególne, rasa)'
      .col-md-2
  .row
    .form-actions
      .col-md-2
      .col-md-4
        = link_to "Anuluj", user_animals_path(user), class: "btn btn-default"
      .col-md-4
        .pull-right
          = f.button :submit, "Zapisz", class: "btn btn-default"
      .col-md-2
