= simple_form_for [ current_user, animal ] do |f|
  = f.error_notification
  .form-inputs
    = f.input :id_number, autofocus: true
    = f.input :name
    = f.input :birth_date, as: :date_picker
    = f.input :amount
    = f.input :weight
    = f.input :gender, selected: 1
    = f.input :age
    = f.input :description
    = f.input :species_id, collection: Species.all, selected: 1
    = f.hidden_field :user_id, value: current_user.id
  .form-actions
    = f.button :submit, "Save", class: "btn btn-success"
    = link_to "Back", :back, class: "btn btn-warning"
