.panel.panel-default
  .panel-heading Zwierzęta
  .panel-body
    = render 'search_form'
    - if animals.empty?
      .alert.alert-warning.table-warning Brak zwierząt.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Numer identyfikacyjny
            %th Nazwa
            %th Waga (kg)
            %th Wiek (lata)
            %th Płeć
            %th Ilość
            %th Gatunek
            %th.col-md-2

        %tbody
          - animals.each do |animal|
            %tr
              %td= animal.id_number
              %td= animal.name
              %td= number_with_delimiter(trim_float(animal.weight), delimiter: " ", separator: ",")
              %td= number_with_delimiter(trim_float(animal.age), delimiter: " ", separator: ",")
              %td= animal.gender
              %td= animal.amount
              %td= animal.try(:species).try(:name)
              %td
                .pull-right
                  = link_to 'Szczegóły', user_animal_path(user, animal), class: "btn btn-default"
                  - unless current_user.pacjent?
                    = link_to 'Edytuj', edit_user_animal_path(user, animal), class: "btn btn-default"

      .pull-right
        - if current_user.pacjent?
          = link_to 'Powrót', profile_path, class: 'btn btn-default'
        - else
          = link_to "Powrót", user_path(user), class: "btn btn-default"

      .flickr_pagination
        = will_paginate animals
