%h1 Animals

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th

  %tbody
    - animals.each do |animal|
      %tr
        %td= animal.name
        %td
          .pull-right
            = link_to 'Show', user_animal_path(user, animal), class: "btn btn-primary"
            = link_to 'Edit', edit_user_animal_path(user, animal), class: "btn btn-default"

.pull-right
= link_to 'New animal', new_user_animal_path, class: "btn btn-primary"

.flickr_pagination
  = will_paginate animals
