.panel.panel-default
  .panel-heading Listing animaux
  .panel-body
    = render 'search_form'
    - if animals.empty?
      .alert.alert-warning.table-warning Pas d'animaux.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Nom
            %th= sortable 'gender', "Sexe"
            %th= sortable 'statut', "Statut"
            %th Espèce
            %th= sortable 'id_number', "N° indentification"
            %th.btn-row-3
        %tbody
          - animals.each do |animal|
            %tr
              %td= change_blank_to_dash(animal.name.capitalize)
              %td= change_blank_to_dash(animal.gender)
              %td= change_blank_to_dash(animal.statut)
              %td= change_blank_to_dash(animal.try(:species).try(:name))
              %td= change_blank_to_dash(animal.id_number)
              %td
                .pull-right
                  = link_to "H", proprio_animal_path(proprio, animal.id, :format => 'pdf'), title: 'Historique', class: "btn btn-default"
                  = link_to icon('list-alt'), proprio_animal_path(proprio, animal), title: 'Animal', class: "btn btn-default"
                  = link_to icon('edit'), edit_proprio_animal_path(proprio, animal), title: 'Modifier', class: "btn btn-default"

    .pull-right
      = link_to "Nouvel animal", new_proprio_animal_path(proprio), class: "btn btn-default"
      = link_to "Vers le profil du propriétaire", proprio_path(proprio), class: "btn btn-default"

    .flickr_pagination
      = will_paginate animals
