.panel.panel-default
  .panel-heading Dane zwierzęcia
  .panel-body
    .row
      .col-md-1
      .col-md-5
        %table.table
          %tbody
            %tr
              %td= "Numer identyfikacyjny: #{change_blank_to_dash(animal.id_number)}"
            %tr
              %td= "Nazwa: #{change_blank_to_dash(animal.name)}"
            %tr
              %td= "Data urodzenia: #{change_blank_to_dash(animal.birth_date)}"
            %tr
              %td= "Wiek (lata): #{change_blank_to_dash(number_with_delimiter(trim_float(animal.age), delimiter: " ", separator: ","))}"
            %tr
              %td= "Ilość: #{change_blank_to_dash(animal.amount)}"
      .col-md-5
        %table.table
          %tbody
            %tr
              %td= "Płeć: #{change_blank_to_dash(animal.gender)}"
            %tr
              %td= "Waga (kg): #{change_blank_to_dash(number_with_delimiter(trim_float(animal.weight), delimiter: " ", separator: ","))}"
            %tr
              %td= "Gatunek: #{change_blank_to_dash(animal.try(:species).try(:name))}"
            %tr
              %td= "Opis: #{change_blank_to_dash(animal.description)}"
      .col-md-1
    .row
      .col-md-1
      .col-md-10
        .pull-right
          = link_to "Powrót", user_animals_path(user), class: "btn btn-default"
      .col-md-1
