.panel.panel-default
  .panel-heading= "Zwierzę nr #{change_blank_to_dash(animal.id_number)}"
  .panel-body
    .panel.panel-info
      .panel-heading Dane zwierzęcia
      .panel-body
        .row
          .col-md-1
          .col-md-5
            %table.table
              %thead
                %tr
                  %th
              %tbody
                %tr
                  %th Numer identyfikacyjny:
                  %td= change_blank_to_dash(animal.id_number)
                %tr
                  %th Nazwa:
                  %td= change_blank_to_dash(animal.name)
                %tr
                  %th Data urodzenia:
                  %td= change_blank_to_dash(animal.birth_date)
                %tr
                  %th Wiek (lata):
                  %td= change_blank_to_dash(number_with_delimiter(trim_float(animal.age), delimiter: " ", separator: ","))
                %tr
                  %th Ilość:
                  %td= change_blank_to_dash(animal.amount)
                %tr
                  %td
          .col-md-5
            %table.table
              %thead
                %tr
                  %th
              %tbody
                %tr
                  %th Płeć:
                  %td= change_blank_to_dash(animal.gender)
                %tr
                  %th Waga (kg):
                  %td= change_blank_to_dash(number_with_delimiter(trim_float(animal.weight), delimiter: " ", separator: ","))
                %tr
                  %th Gatunek:
                  %td= change_blank_to_dash(animal.try(:species).try(:name))
                %tr
                  %th Opis:
                  %td= change_blank_to_dash(animal.description)
                %tr
                  %td
          .col-md-1
    .panel.panel-info
      .panel-heading Dane właściciela
      .panel-body
        .row
          .col-md-3
            = image_tag user.gravatar_url(size: 200)
          .col-md-4
            %table.table
              %thead
                %tr
                  %td
              %tbody
                %tr
                  %th Imię:
                  %td= change_blank_to_dash(animal.try(:user).try(:first_name))
                %tr
                  %th Nazwisko:
                  %td= change_blank_to_dash(animal.try(:user).try(:last_name))
                %tr
                  %th Pesel:
                  %td= change_blank_to_dash(animal.try(:user).try(:pesel))
                %tr
                  %th Numer telefonu:
                  %td= change_blank_to_dash(animal.try(:user).try(:phone_number))
                %tr
                  %th Email:
                  %td= change_blank_to_dash(animal.try(:user).try(:email))
                %tr
                  %th Państwo:
                  %td= change_blank_to_dash(animal.try(:user).try(:address).try(:country_name))
          .col-md-4
            %table.table
              %thead
                %tr
                  %td
              %tbody
                %tr
                  %th Ulica:
                  %td= "#{change_blank_to_dash(animal.try(:user).try(:address).try(:street))} #{animal.try(:user).try(:address).try(:house_number)}#{' / ' unless animal.try(:user).try(:address).try(:flat_number).blank?}#{animal.try(:user).try(:address).try(:flat_number)}"
                %tr
                  %th Kod pocztowy:
                  %td= change_blank_to_dash(animal.try(:user).try(:address).try(:zip_code))
                %tr
                  %th Miasto:
                  %td= change_blank_to_dash(animal.try(:user).try(:address).try(:city))
                %tr
                  %th Gmina:
                  %td= change_blank_to_dash(animal.try(:user).try(:address).try(:borough))
                %tr
                  %th Powiat:
                  %td= change_blank_to_dash(animal.try(:user).try(:address).try(:district))
                %tr
                  %th Województwo:
                  %td= change_blank_to_dash(animal.try(:user).try(:address).try(:province))
          .col-md-1

    .panel.panel-info
      .panel-heading Karty zwierzęcia
      .panel-body
        - if @medical_records.empty?
          Brak kart.
        - else
          %table.table.table-striped
            %thead
              %tr
                %th Numer karty
                %th Wywiad
                %th.price-row Koszt wizyty
                %th Weterynarz
                %th.date-row Data
                %th

            %tbody
              - @medical_records.each do |medical_record|
                %tr
                  %td= change_blank_to_dash(medical_record.id)
                  %td= change_blank_to_dash(medical_record.anamnesis)
                  %td= change_blank_to_dash(number_to_currency(medical_record.total_cost, separator: ',', unit: 'PLN', precision: 2))
                  %td= change_blank_to_dash(medical_record.try(:veterinarian).try(:user).try(:full_name))
                  %td= change_blank_to_dash(medical_record.created_at.to_date)
                  %td
                    .pull-right
                      = link_to icon('list-alt'), user_medical_record_path(user, medical_record), title: 'Szczegóły', class: "btn btn-default"

          .flickr_pagination
            = will_paginate @medical_records, param_name: 'medical_records_page'

    .panel.panel-info
      .panel-heading Zdjęcia zwierzęcia
      .panel-body
        - if @pictures.empty?
          Brak zdjęć.
        - else
          %table.table.table-striped
            %thead
              %tr
                %th Nazwa
                %th Zdjęcie
                %th Opis

            %tbody
              - @pictures.each do |picture|
                %tr
                  %td= change_blank_to_dash(picture.name)
                  %td= link_to image_tag(picture.image, width: 100), picture.image.url
                  %td= change_blank_to_dash(picture.description)

          .flickr_pagination
            = will_paginate @pictures, param_name: 'pictures_page'

    .pull-right
      = link_to "Przejdź do zwierząt", user_animals_path(user), class: "btn btn-default"
