.panel.panel-default
  .panel-heading= "Animal nr #{change_blank_to_dash(animal.id_number)}"
  .panel-body
    .panel.panel-info
      .panel-heading Données de l'animal
      .panel-body
        .row
          .col-md-1
          .col-md-5
            %table.table
              %thead
                %tr
                  %th
              %tbody
                %tr
                  %th N° identification:
                  %td= change_blank_to_dash(animal.id_number)
                %tr
                  %th Nom:
                  %td= change_blank_to_dash(animal.name.capitalize)
                %tr
                  %th Date de naissance:
                  %td= change_blank_to_dash(animal.birth_date)
                %tr
                  %th Statut:
                  %td= change_blank_to_dash(animal.statut)
                %tr
                  %td
          .col-md-5
            %table.table
              %thead
                %tr
                  %th
              %tbody
                %tr
                  %th Sexe:
                  %td= change_blank_to_dash(animal.gender)
                %tr
                  %th Espèce:
                  %td= change_blank_to_dash(animal.try(:species).try(:name))
                %tr
                  %th Description:
                  %td= change_blank_to_dash(animal.description)
                %tr
                  %td
          .col-md-1
    .panel.panel-info
      .panel-heading Données du propriétaire
      .panel-body
        .row
          .col-md-4
            %table.table
              %thead
                %tr
                  %td
              %tbody
                %tr
                  %th Prénom:
                  %td= change_blank_to_dash(proprio.first_name)
                %tr
                  %th Nom:
                  %td= change_blank_to_dash(proprio.last_name)
                %tr
                  %th Téléphone:
                  %td= change_blank_to_dash(proprio.phone_number)
          .col-md-4
            %table.table
              %thead
                %tr
                  %td
              %tbody
                %%tr
                  %th Numéro:
                  %td= change_blank_to_dash(animal.try(:proprio).try(:house_number))
                %tr
                  %th Rue:
                  %td= change_blank_to_dash(animal.try(:proprio).try(:street))
                %tr
                  %th Code postal:
                  %td= change_blank_to_dash(animal.try(:proprio).try(:zip_code))
                %tr
                  %th Ville:
                  %td= change_blank_to_dash(animal.try(:proprio).try(:city))
          .col-md-1
    .pull-right
      = link_to "Ajouter consult", new_proprio_medical_record_path(proprio), class: "btn btn-default"
      = link_to "Ajouter hospit", new_proprio_hospit_path(proprio), class: "btn btn-default"
      = link_to "Ajouter image", new_proprio_picture_path(proprio), class: "btn btn-default"
      = link_to "Retour listing", proprio_animals_path(proprio), class: "btn btn-default"

.panel.panel-default
  .panel-heading Fichiers consultation
  .panel-body
    - if @medical_records.empty?
      .alert.alert-warning.table-warning Pas de fiche.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Description consultation
            %th Vétérinaire
            %th Date
            %th

        %tbody
          - @medical_records.each do |medical_record|
            %tr
              %td= change_blank_to_dash(medical_record.decorate.consultation)
              %td= change_blank_to_dash(medical_record.veterinarian.user.last_name)
              %td= change_blank_to_dash(medical_record.created_at.to_date)
              %td

                .pull-right
                  = link_to icon('list-alt'), proprio_medical_record_path(proprio, medical_record), title: 'Détails', class: "btn btn-default"
                  = link_to icon('edit'), edit_proprio_medical_record_path(proprio, medical_record), title: 'Modifier', class: "btn btn-default"
          .flickr_pagination
            = will_paginate @medical_records, param_name: 'medical_records_page'
    .pull-right
      = link_to "Ajouter consult", new_proprio_medical_record_path(proprio), class: "btn btn-default"

.panel.panel-default
  .panel-heading Hospitalisation
  .panel-body
    - if @hospits.empty?
      .alert.alert-warning.table-warning Pas de fichier.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Cause hospitalisation
            %th Vétérinaire
            %th Observations
            %th.date-row Date d'entrée
            %th.btn-row-2

        %tbody
          - @hospits.each do |hospit|
            %tr
              %td= change_blank_to_dash(hospit.anamnesis)
              %td= change_blank_to_dash(hospit.veterinarian.user.last_name)
              %td= change_blank_to_dash(hospit.description)
              %td= change_blank_to_dash(hospit.created_at.to_date)
              %td
                .pull-right
                  = link_to icon('list-alt'), proprio_hospit_path(proprio, hospit), title: 'Détails', class: "btn btn-default"
                  = link_to icon('edit'), edit_proprio_hospit_path(proprio, hospit), title: 'Modifier', class: "btn btn-default"
    .pull-right
      = link_to "Ajouter hospit", new_proprio_hospit_path(proprio), class: "btn btn-default"

.panel.panel-default
  .panel-heading Images de l'animal
  .panel-body
    - if @pictures.empty?
      Pas d'images.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Nom
            %th Image
            %th Description

        %tbody
          - @pictures.each do |picture|
            %tr
              %td= change_blank_to_dash(picture.name)
              %td= link_to image_tag(picture.image, width: 100), picture.image.url
              %td= change_blank_to_dash(picture.description)

      .flickr_pagination
        = will_paginate @pictures, param_name: 'pictures_page'
    .pull-right
      = link_to "Ajouter image", new_proprio_picture_path(proprio), class: "btn btn-default"

.pull-right
  = link_to "Ajouter consult", new_proprio_medical_record_path(proprio), class: "btn btn-default"
  = link_to "Ajouter hospit", new_proprio_hospit_path(proprio), class: "btn btn-default"
  = link_to "Ajouter image", new_proprio_picture_path(proprio), class: "btn btn-default"
  = link_to "Retour listing", proprio_animals_path(proprio), class: "btn btn-default"
