= simple_form_for [ user, picture ] do |f|
  = f.error_notification
  .row
    .form-inputs
      .col-md-1
      .col-md-5
        = f.input :name, label: 'Nazwa', placeholder: 'Wpisz nazwę pliku', autofocus: true
        = f.input :description, label: 'Opis', placeholder: 'Wpisz opis zdjęcia'
        = f.input :animal_id, label: 'Zwierzę', collection: Animal.where(user_id: user.id).map { |animal| [ "ID: #{animal.id_number}, nazwa: #{animal.name}, ilość: #{animal.amount}, wiek: #{animal.age}, waga: #{animal.weight}, data urodzenia: #{animal.birth_date}, gatunek: #{animal.try(:species).try(:name)}, opis: #{animal.description}", animal.id ] }
      .col-md-5
        = f.input :image, label: 'Zdjęcie', as: :image_preview
      .col-md-1
  .row
    .col-md-1
    .col-md-10
      .form-actions
        .pull-right
          = f.button :submit, "Zapisz", class: "btn btn-default"
        = link_to "Anuluj", user_pictures_path(user), class: "btn btn-default"
    .col-md-1
