= form_tag proprio_pictures_path(proprio), method: :get do
  = hidden_field_tag :direction, params[:direction]
  = hidden_field_tag :sort, params[:sort]
  .form-inline
    = text_field_tag :search, params[:search], placeholder: 'Entrez le nom ou la description', class: 'form-control', size: 27
    = submit_tag "Recherche", name: nil, class: 'btn btn-default'

  .pull-right
    = link_to 'Nouvelle image', new_proprio_picture_path(proprio), class: "btn btn-default"
