.panel.panel-default
  .panel-heading Zdjęcia
  .panel-body
    = render 'search_form'
    - if pictures.empty?
      .alert.alert-warning.table-warning Brak zdjęć.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Nazwa
            %th Zdjęcie
            %th Opis
            %th.col-md-2

        %tbody
          - pictures.each do |picture|
            %tr
              %td= change_blank_to_dash(picture.name)
              %td= link_to image_tag(picture.image, width: 100), picture.image.url
              %td= change_blank_to_dash(picture.description)
              %td
                .pull-right
                  = link_to 'Szczegóły', user_picture_path(user, picture), class: "btn btn-default"
                  - unless current_user.pacjent?
                    = link_to 'Edytuj', edit_user_picture_path(user, picture), class: "btn btn-default"

    .pull-right
      - if current_user.pacjent?
        = link_to 'Powrót', profile_path, class: 'btn btn-default'
      - else
        = link_to 'Powrót', user_path(user), class: 'btn btn-default'

    .flickr_pagination
      = will_paginate pictures
