.panel.panel-default
  .panel-heading Zdjęcia
  .panel-body
    = render 'search_form'
    - if pictures.empty?
      .alert.alert-warning.table-warning Brak zdjęć.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Nazwa
            %th Zwierzę
            %th Zdjęcie
            %th Opis
            %th.btn-row-2

        %tbody
          - pictures.each do |picture|
            %tr
              %td= change_blank_to_dash(picture.name)
              %td= picture.decorate.print_animal_id
              %td= link_to image_tag(picture.image, width: 100), picture.image.url
              %td= change_blank_to_dash(picture.description)
              %td
                .pull-right
                  = link_to icon('list-alt'), user_picture_path(user, picture), title: 'Szczegóły', class: "btn btn-default"
                  - unless current_user.pacjent?
                    = link_to icon('edit'), edit_user_picture_path(user, picture), title: 'Edytuj', class: "btn btn-default"

    .pull-right
      - if current_user.pacjent?
        = link_to 'Przejdź do profilu', profile_path, class: 'btn btn-default'
      - else
        = link_to 'Przejdź do profilu właściciela', user_path(user), class: 'btn btn-default'

    .flickr_pagination
      = will_paginate pictures
