.panel.panel-default
  .panel-heading Zdjęcia
  .panel-body
    %table.table.table-striped
      %thead
        %tr
          %th Nazwa
          %th Zdjęcie
          %th Opis
          %th

      %tbody
        - pictures.each do |picture|
          %tr
            %td= picture.name
            %td= image_tag picture.image, height: "100"
            %td= picture.description
            %td
              .pull-right
                = link_to 'Szczegóły', user_picture_path(user, picture), class: "btn btn-default"
                = link_to 'Edytuj', edit_user_picture_path(user, picture), class: "btn btn-default"

    = link_to 'Powrót', user_path(user), class: 'btn btn-default'
    .pull-right
      = link_to 'Nowe zdjęcie', new_user_picture_path, class: "btn btn-default"

.flickr_pagination
  = will_paginate pictures
