.panel.panel-default
  .panel-heading Zdjęcia
  .panel-body
    .row
      .col-md-6
        = link_to image_tag(picture.image, width: 420), picture.image.url
      .col-md-6
        %table.table
          %thead
            %tr
              %th Szczegółowe informacje
          %tbody
            %tr
              %td= "Nazwa: #{change_blank_to_dash(picture.name)}"
            %tr
              %td= "Użytkownik: #{change_blank_to_dash(picture.try(:user).try(:full_name))}"
            %tr
              %td= "Zwierzę: #{picture.animal_id.nil? ? '-' : (picture.try(:animal).try(:id_number).blank? ? 'Brak numeru id zwierzęcia': picture.try(:animal).try(:id_number))}"
            %tr
              %td= "Opis zdjęcia: #{change_blank_to_dash(picture.description)}"
            %tr
              %td
    .row
      .col-md-12
        .pull-right
          = link_to 'Powrót', user_pictures_path(user), class: 'btn btn-default'
