.panel.panel-default
  .panel-heading Szczegóły zdjęcia
  .panel-body
    .row
      .col-md-6
        = link_to image_tag(picture.image, width: 420), picture.image.url
      .col-md-6
        %table.table
          %tbody
            %tr
              %th.col-md-1 Nazwa:
              %td= change_blank_to_dash(picture.name)
            %tr
              %th.col-md-1 Użytkownik:
              %td= change_blank_to_dash(picture.try(:user).try(:full_name))
            %tr
              %th.col-md-1 Zwierzę:
              %td= picture.animal_id.nil? ? '-' : (picture.try(:animal).try(:id_number).blank? ? 'Brak numeru id zwierzęcia': picture.try(:animal).try(:id_number))
            %tr
              %th.col-md-1 Opis zdjęcia:
              %td= change_blank_to_dash(picture.description)
            %tr
              %td
    .row
      .col-md-12
        .pull-right
          = link_to 'Przejdź do zdjęć', user_pictures_path(user), class: 'btn btn-default'
