.panel.panel-default
  .panel-heading Détails photos
  .panel-body
    .row
      .col-md-6
        = link_to image_tag(picture.image, width: 420), picture.image.url
      .col-md-6
        %table.table
          %tbody
            %tr
              %th.col-md-1 Nom:
              %td= change_blank_to_dash(picture.name)
            %tr
              %th.col-md-1 Propriétaire:
              %td= change_blank_to_dash(proprio.last_name)
            %tr
              %th.col-md-1 Animal:
              %td= change_blank_to_dash(@animals)
            %tr
              %th.col-md-1 Description image:
              %td= change_blank_to_dash(picture.description)
            %tr
              %td
    .row
      .col-md-12
        .pull-right
          = link_to 'Aller à la galerie', proprio_pictures_path(proprio), class: 'btn btn-default'
