%p#notice= notice

%p
  %b Name:
  = picture.name
%p
  %b Description:
  = picture.description
%p
  %b Image:
  = picture.image
%p
  %b User:
  = picture.user.first_name

= link_to 'Edit', edit_user_picture_path(user, picture)
\|
= link_to 'Back', user_pictures_path(user)
