.panel.panel-default
  .panel-heading Zdjęcia
  .panel-body
    .row
      .col-md-1
      .col-md-5
        = image_tag picture.image, width: "430"
      .col-md-5
        %table.table
          %thead
            %tr
              %th Szczegółowe informacje
          %tbody
            %tr
              %td= "Nazwa: #{change_blank_to_dash(picture.name)}"
            %tr
              %td= "Użytkownik: #{change_blank_to_dash(picture.try(:user).try(:full_name))}"
            %tr
              %td= "Opis zdjęcia: #{change_blank_to_dash(picture.description)}"
            %tr
              %td
      .col-md-1
    .row
      .col-md-1
      .col-md-10
        .pull-right
          = link_to 'Powrót', user_pictures_path(user), class: 'btn btn-default'
      .col-md-1
