= simple_form_for unit do |f|
  = f.error_notification
  .row
    .col-md-1
    .col-md-10
      .form-input
        = f.input :name, label: 'Nom', placeholder: 'Entrez le nom de unité', required: true, autofocus: true
      .form-actions
        = link_to "Annuler", dictionaries_path(tab: 'units'), class: "btn btn-default"
        .pull-right
          = f.button :submit, "Sauvegarder", class: "btn btn-default"
    .col-md-1
