.panel.panel-default
  .panel-heading Listing animaux
  .panel-body
    = render 'searcha_form'
    - if @animals.empty?
      .alert.alert-warning.table-warning Pas d'animaux.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th= sortable 'id_number', "N° indentification"
            %th= sortable 'name', "Nom"
            %th= sortable 'gender', "Sexe"
            %th= sortable 'statut', "Statut"
            %th Propriétaires
            %th.btn-row-2
        %tbody
          - @animals.each do |animal|
            %tr
              %td= change_blank_to_dash(animal.id_number)
              %td= change_blank_to_dash(animal.name.capitalize)
              %td= change_blank_to_dash(animal.gender)
              %td= change_blank_to_dash(animal.statut)
              %td= change_blank_to_dash(animal.try(:proprio).try(:last_name))
              %td
                .pull-right
                  = link_to icon('list-alt'), proprio_path(change_blank_to_dash(animal.try(:proprio).try(:id))), title: 'Détails', class: "btn btn-default"

    .flickr_pagination
      = will_paginate @animals
