= simple_form_for [ user, appointment ] do |f|
  = f.error_notification
  .form-inputs
    = f.hidden_field :day, value: params[:day]
    = f.hidden_field :veterinarian_id, value: Veterinarian.where(user_id: params[:veterinarian_id]).first.id
    .row
      .col-md-1
      .col-md-3
        = f.input :time, label: 'Godzina'
        = f.input :kind, label: 'Rodzaj'
      .col-md-7
        = f.input :description, label: 'Opis', placeholder: 'Wpisz objawy choroby, cel wizyty, informacje na temat zwierzęcia (gatunek, waga, wiek, ilość zwierząt)', input_html: { rows:  5 }
      .col-md-1
    .row
      .form-actions
        .col-md-1
        .col-md-5
          = link_to "Anuluj", user_appointments_path(user), class: "btn btn-default"
        .col-md-5
          .pull-right
            = f.button :submit, "Zapisz", class: "btn btn-default"
        .col-md-1
