.panel.panel-default
  .panel-heading Najbliższe wizyty
  .panel-body
    = render 'search_form'
    - if appointments.empty?
      .alert.alert-warning.table-warning Brak wizyt.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th.date-row Data
            %th Pora dnia
            %th Rodzaj
            %th Status
            %th Weterynarz
            %th

        %tbody
          - appointments.each do |appointment|
            %tr
              %td= change_blank_to_dash(appointment.day)
              %td= change_blank_to_dash(appointment.time)
              %td= change_blank_to_dash(appointment.kind)
              %td= change_blank_to_dash(appointment.status)
              %td= change_blank_to_dash(appointment.try(:veterinarian).try(:user).try(:full_name))
              %td
                .pull-right
                  = link_to icon('list-alt'), user_appointment_path(user, appointment), title: 'Szczegóły', class: "btn btn-default"
                  - unless current_user.pacjent?
                    = link_to icon('edit'), edit_user_appointment_path(appointment.user_id, appointment), title: 'Edytuj', class: "btn btn-default"
                  = link_to icon('trash-o'), user_appointment_cancel_path(appointment.user_id, appointment), title: 'Anuluj', method: :patch, class: "btn btn-default"

    .pull-right
      - if current_user.pacjent?
        = link_to 'Powrót', profile_path, class: 'btn btn-default'
      - else
        = link_to "Powrót", user_path(user), class: "btn btn-default"

    .flickr_pagination
      = will_paginate appointments
