.panel.panel-default
  .panel-heading Najbliższe wizyty
  .panel-body
    = render 'veterinarian_search_form'
    - if appointments.empty?
      .alert.alert-warning.table-warning Brak wizyt.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Data
            %th Pora dnia
            %th Rodzaj
            %th Status
            %th Właściciel
            %th.col-md-3

        %tbody
          - appointments.each do |appointment|
            %tr
              %td= change_blank_to_dash(appointment.day)
              %td= change_blank_to_dash(appointment.time)
              %td= change_blank_to_dash(appointment.kind)
              %td= change_blank_to_dash(appointment.status)
              %td= change_blank_to_dash(appointment.try(:user).try(:full_name))
              %td
                .pull-right
                  = link_to 'Szczegóły', user_appointment_path(appointment.user_id, appointment), class: "btn btn-default"
                  = link_to 'Edytuj', edit_user_appointment_path(appointment.user_id, appointment), class: "btn btn-default"
                  = link_to 'Anuluj', veterinarian_cancel_path(appointment, user_id: appointment.user_id), method: :patch, class: "btn btn-default"

      .flickr_pagination
        = will_paginate appointments
