= form_tag proprios_search_path, method: :get do
  = hidden_field_tag :direction, params[:direction]
  = hidden_field_tag :sort, params[:sort]
  .form-inline
    = text_field_tag :search, params[:search], placeholder: 'Sans respecter la casse, entrez le nom ou les premières lettres comme suit : u_  )', class: 'form-control', size: 65
    = submit_tag "Recherche", last_name: nil, class: 'btn btn-default'
