= form_tag proprios_path, method: :get do
  = hidden_field_tag :direction, params[:direction]
  = hidden_field_tag :sort, params[:sort]
  .form-inline
    = text_field_tag :search, params[:search], placeholder: 'Entrez nom ou prénom', class: 'form-control', size: 25
    = submit_tag "Recherche", name: nil, class: 'btn btn-default'
