.panel.panel-default
  .panel-heading Propriétaire
  .panel-body
    .row
      .col-md-4
        %table.table
          %thead
            %tr
              %td
          %tbody
            %tr
              %th Prénom:
              %td= change_blank_to_dash(proprio.first_name)
            %tr
              %th Nom:
              %td= change_blank_to_dash(proprio.last_name)
            %tr
              %th Téléphone:
              %td= change_blank_to_dash(proprio.phone_number)
            %tr
              %th Nationalité:
              %td= change_blank_to_dash(proprio.country)
      .col-md-4
        %table.table
          %thead
            %tr
              %td
          %tbody
            %tr
              %th Rue:
              %td= change_blank_to_dash(proprio.street)
            %tr
              %th Code postal:
              %td= change_blank_to_dash(proprio.zip_code)
            %tr
              %th Ville:
              %td= change_blank_to_dash(proprio.city)
      .col-md-4
      %table.table
        %thead
          %tr
            %th Tel ou Courriel
            %th Coordonnées
        %tbody
          - proprio.contacts.each do |contact|
            %tr
              %td= change_blank_to_dash(contact.chose)

              %td= change_blank_to_dash(contact.info)
      .col-md-1
    .pull-right
      = link_to "Modifier", edit_proprio_path, class: "btn btn-default"
      = link_to "Nouvelle consult", new_proprio_medical_record_path(proprio), class: "btn btn-default"


.panel.panel-default
  .panel-heading Animaux
  .panel-body
    - if @animals.empty?
      .alert.alert-warning.table-warning Pas d'animaux.
      .pull-right
        = link_to "Nouvel animal", new_proprio_animal_path(proprio), class: "btn btn-default"
    - else
      %table.table.table-striped
        %thead
          %tr
            %th N° d'identification
            %th Nom
            %th Nombre
            %th Sexe
            %th Espèce
            %th.btn-row-2

        %tbody
          - @animals.each do |animal|
            %tr
              %td= change_blank_to_dash(animal.id_number)
              %td= change_blank_to_dash(animal.name)
              %td= change_blank_to_dash(animal.amount)
              %td= change_blank_to_dash(animal.gender)
              %td= change_blank_to_dash(animal.try(:species).try(:name))
              %td
                .pull-right
                  = link_to icon('list-alt'), proprio_animal_path(proprio, animal), title: 'Détails', class: "btn btn-default"
                  = link_to icon('edit'), edit_proprio_animal_path(proprio, animal), title: 'Modifier', class: "btn btn-default"
      .pull-right
        = link_to "Nouvel animal", new_proprio_animal_path(proprio), class: "btn btn-default"
        = link_to "Listing animaux", proprio_animals_path(proprio), class: "btn btn-default"

.panel.panel-default
  .panel-heading Consultations
  .panel-body
    - if @medical_records.empty?
      .alert.alert-warning.table-warning Pas de fichier.
      .pull-right
        = link_to "Nouvelle consult", new_proprio_medical_record_path(proprio), class: "btn btn-default"
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Cause consultation
            %th Maladie ou vaccin
            %th Vétérinaire
            %th Détails
            %th.date-row Date
            %th.btn-row-2

        %tbody
          - @medical_records.each do |medical_record|
            %tr
              %td= change_blank_to_dash(medical_record.anamnesis)
              %td= change_blank_to_dash(medical_record.decorate.name_of_disease)
              %td= change_blank_to_dash(medical_record.veterinarian.user.last_name)
              %td= change_blank_to_dash(medical_record.description)
              %td= change_blank_to_dash(medical_record.created_at.to_date)
              %td
                .pull-right
                  = link_to icon('list-alt'), proprio_medical_record_path(proprio, medical_record), title: 'Détails', class: "btn btn-default"
                  = link_to icon('edit'), edit_proprio_medical_record_path(proprio, medical_record), title: 'Modifier', class: "btn btn-default"
      .pull-right
        = link_to "Nouvelle consult", new_proprio_medical_record_path(proprio), class: "btn btn-default"

.panel.panel-default
  .panel-heading Hospitalisation
  .panel-body
    - if @hospits.empty?
      .alert.alert-warning.table-warning Pas de fichier.
      .pull-right
        = link_to "Nouvelle hospit", new_proprio_hospit_path(proprio), class: "btn btn-default"
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Cause hospitalisation
            %th Diagnostic ou suspicion
            %th Vétérinaire
            %th Observations
            %th.date-row Date
            %th.btn-row-2

        %tbody
          - @hospits.each do |hospit|
            %tr
              %td= change_blank_to_dash(hospit.anamnesis)
              %td= change_blank_to_dash(hospit.decorate.name_of_disease)
              %td= change_blank_to_dash(hospit.veterinarian.user.last_name)
              %td= change_blank_to_dash(hospit.description)
              %td= change_blank_to_dash(hospit.created_at.to_date)
              %td
                .pull-right
                  = link_to icon('list-alt'), proprio_hospit_path(proprio, hospit), title: 'Détails', class: "btn btn-default"
                  = link_to icon('edit'), edit_proprio_hospit_path(proprio, hospit), title: 'Modifier', class: "btn btn-default"
      .pull-right
        = link_to "Nouvelle hospit", new_proprio_hospit_path(proprio), class: "btn btn-default"

.panel.panel-default
  .panel-heading Photos
  .panel-body
    - if @pictures.empty?
      .alert.alert-warning.table-warning Pas de photos.
      .pull-right
        = link_to "Ajouter", new_proprio_picture_path(proprio), class: "btn btn-default"
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Nom
            %th Animal
            %th Image
            %th Description
            %th.btn-row-2

        %tbody
          - @pictures.each do |picture|
            %tr
              %td= change_blank_to_dash(picture.name)
              %td= change_blank_to_dash(picture.animal.name)
              %td= link_to image_tag(picture.image, width: 100), picture.image.url
              %td= change_blank_to_dash(picture.description)
              %td
                .pull-right
                  = link_to icon('list-alt'), proprio_picture_path(proprio, picture), title: 'Détails', class: "btn btn-default"
                  = link_to icon('edit'), edit_proprio_picture_path(proprio, picture), title: 'Modifier', class: "btn btn-default"
      .pull-right
        = link_to "Ajouter", new_proprio_picture_path(proprio), class: "btn btn-default"
        = link_to "Plus", proprio_pictures_path(proprio), class: "btn btn-default"
